{% extends 'base.html' %}
 {% load static %}
{% block forstatic %}

{% endblock %}

{% block head %}
     <link rel="stylesheet" type="text/css" href="{% static 'todo_app/css/style.css' %}">
{% endblock  %}

{% block content %}
    <form action="/todo_app/index/" method="POST">
    {% csrf_token %} 
        {{form}}
        <button class="btn-sub" type="submit">Submit</button>
    </form>
    {% if user.is_authenticated %}
    <ul class="todo">
    {% for todo in todos %}
        <li class="todo-item">{{todo.name|title}}
            <div class="del-form">
                <form action="/todo_app/todo_delete/{{todo.id}}/" method="POST">
                {% csrf_token %}
                <button class="btn-delete" id="delete" type="submit">Delete</button>
                </form>
            </div>
        </li>

    {% endfor %}      
    </ul>
    {% endif %}
{% endblock %}

{% block script %}
    <script  type="text/javascript" src="{% static 'todo_app/js/script.js' %}"></script>
{% endblock %}